<!DOCTYPE html>
<html lang="zh" ng-app>
<head>
    <meta charset="UTF-8">
    <title>learn-angular-1</title>
    <script src="angularJS.js"></script>
    <script>

    </script>
    <style>

    </style>
</head>
<body>
    <!--<div class="t" ng-bind="'hello'+'world'">-->
    </div>
    <div>
        <input type="text" ng-model="input">
        <div class="" style="color: {{input}}">颜色是{{input}}</div>
        <ul>
            <li ng-repeat="i in [0,1,2,3]">
                {{i}}
            </li>
        </ul>
    </div>
</body>
</html>